<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GlinttHS.Tools.ConfigDeployIIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <GlinttHS.Tools.ConfigDeployIIS.Properties.Settings>
            <setting name="GlinttHS_Tools_ConfigDeployIIS_GlinttHSSecurity_ServiceSecurity"
                serializeAs="String">
                <value>http://updater.glintths.com/WSGTOOLS/GlinttHS.Tools.Security/ServiceSecurity.asmx</value>
            </setting>
            <setting name="GlinttHS_Tools_ConfigDeployIIS_ServiceToolsWS_ServiceTools"
                serializeAs="String">
                <value>http://updater.glintths.com/WSGTOOLS/GlinttHS.Tools.WebService/ServiceTools.asmx</value>
            </setting>
            <setting name="GlinttHS_Tools_ConfigDeployIIS_GlinttHSDownloaderWS_Service1"
                serializeAs="String">
                <value>http://10.250.39.117:9001/GlinttHS.Tools.SetupApp.WebService/ServiceSetupToolsGetPackage.asmx</value>
            </setting>
        </GlinttHS.Tools.ConfigDeployIIS.Properties.Settings>
    </applicationSettings>
</configuration>
